<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xsyu.inputreportproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--配置压裂Activity-->
        <activity android:name=".activity.CrushingActivity">
        </activity>
        <!--配置酸化Activity-->
        <activity android:name=".activity.AcidateActivity">
        </activity>
        <!--配置管柱Activity-->
        <activity android:name=".activity.GZManageActivity">
        </activity>
        <!--配置水井措施的activity-->
        <activity android:name=".activity.WaterWellMeasureActivity">
        </activity>
        <!--配置上传的activity-->
        <activity android:name=".activity.LoadingActivity">
        </activity>
        <!--配置压裂基本信息的activity-->
        <activity android:name=".activity.YLBaseInfoActivity">
        </activity>
        <!--配置器材发放的activity-->
        <activity android:name=".activity.GZDownholeEquipmentActivity">
        </activity>
        <!--配置注水井洗井的activity-->
        <activity android:name=".activity.InjWellWashingActivity">
        </activity>
    </application>
    <!--数据库需要的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>